h4{
    color: yellowgreen;
    text-decoration: underline;
}

.dados{
    color: aqua;
}

#HabComp{
    color: blueviolet;
}

#ExpPro{
    color: aquamarine;
}

#formAcad{
    color: rgb(209, 1, 209);
}